
<div class="video-box">
  <iframe width="840" height="472.5" src="https://www.youtube.com/embed/DqG_VaB6O0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="top2">

  <div class="box1">
    <div class="text-box">
      <div class="p1">
        簡単操作で練習を記録
      </div>
      <div class="p2">
        スマホからクリックのみで簡単に記録　一言コメントも記入できるから見直した時にどういう練習だったかわかりやすい
      </div>
    </div>
    <div class="img">
      <%= image_tag 'input.png'%> 
    </div>
  </div>

  <div class="box1">
    <div class="img">
      <%= image_tag 'graph1.png'%> 
    </div>
    <div class="text-box">
      <div class="p1">
        コンディションをグラフで確認
      </div>
      <div class="p2">
        ノートから自動的にグラフを作成してコンディションのアップダウンを確認できる
      </div>
    </div>
  </div>

  <div class="box1">
    <div class="text-box">
      <div class="p1">
        練習の指針の参考にも
      </div>
      <div class="p2">
        ノートの各種目の評価から自動的に集計・グラフ化して種目の偏りがないか確認できる
      </div>
    </div>
    <div class="img">
      <%= image_tag 'graph2.png'%> 
    </div>
  </div>

  <div class="box1">
    <div class="img2">
      <%= image_tag 'pdf.png'%> 
    </div>
    <div class="text-box">
      <div class="p1">
        1ヶ月の練習をまとめて振り返る
      </div>
      <div class="p2">
        1ヶ月単位の練習ノートを自動的にレポートにして提供　一目で振り返りができるからこれからの練習の目標が立てやすくなる
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="submit_button">
      <%= link_to("/menu") do%>
      <label>
        使ってみる
      </label>
      <%end%>
    </div>
  </div>
</div>

